<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshu.mapper.AdminMapper">
    <select id="findByName" parameterType="string" resultType="com.codeshu.entity.Admin">
        select * from admin where username=#{username}
    </select>
    <insert id="saveAdmin" parameterType="com.codeshu.entity.Admin" useGeneratedKeys="true" keyProperty="id">
        insert into admin(username,password,salt,roleId) values(#{username},#{password},#{salt},1)
    </insert>
    <update id="updateInfo" parameterType="com.codeshu.entity.Admin">
        update admin set username=#{username},password=#{password},salt=#{salt} where id=#{id}
    </update>
</mapper>
