<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshu.mapper.OlderMapper">

<!--    查询详情-->
    <resultMap id="olderMap" type="com.codeshu.entity.Older">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="phone" column="phone"/>
        <result property="guarderId" column="guarderId"/>
        <result property="guarderName" column="guarderName"/>
        <association property="health" javaType="com.codeshu.entity.Health" column="healthId"
        select="com.codeshu.mapper.HealthMapper.selectById"/>
        <association property="cost" javaType="com.codeshu.entity.Cost" column="id"
        select="com.codeshu.mapper.CostMapper.selectByOlderId"/>
    </resultMap>
    <select id="selectAll" resultMap="olderMap">
        select o.*,g.username as guarderName from older o inner join guarder g
        on o.guarderId = g.id
    </select>
    <!--根据名称准确查询-->
    <select id="selectByName" parameterType="string" resultMap="olderMap">
        select o.*,g.username as guarderName from older o inner join guarder g
        on o.guarderId = g.id
        where name = #{name}
    </select>
    <!--根据老人id查询-->
    <select id="selectById" parameterType="int" resultMap="olderMap">
        select o.*,g.username as guarderName from older o inner join guarder g
        on o.guarderId = g.id
        where id = #{id}
    </select>
    <!--根据名称查询没有被监护的老人信息-->
    <select id="selectNotGuarderByName" parameterType="string" resultType="com.codeshu.entity.Older">
        select *from older where name = #{name} and guarderId is null
    </select>
<!--    根据名称模糊查询-->
    <select id="selectByLikeName" parameterType="string" resultMap="olderMap">
        select o.*,g.username as guarderName from older o inner join guarder g
        on o.guarderId = g.id
        where o.name like concat('%','z','%')
    </select>
<!--    查询所有紧急老人-->
    <select id="selectDanger" resultMap="olderMap">
        select o.*,g.username as guarderName from older o inner join guarder g
        on o.guarderId = g.id
        where healthId = 3
    </select>
<!--    查询所有观察老人-->
    <select id="selectGuancha" resultMap="olderMap">
        select o.*,g.username as guarderName from older o inner join guarder g
        on o.guarderId = g.id
        where healthId = 2
    </select>
    <!--根据监护人名称查询出他所监护的老人-->
    <select id="selectOlderByGuarderName" parameterType="string" resultMap="olderMap">
        select o.*,g.username as guarderName from older o inner join guarder g
        on o.guarderId = g.id
        where g.username = #{guarderName}
    </select>

    <!--根据年份、月份查询总数-->
    <select id="selectByYearAndMonth" parameterType="string" resultType="int">
        select count(*) from older where enterDate like concat(#{enterDate},'%')
    </select>

    <!--    总数查询-->
    <select id="total" resultType="int">
        select count(*) from older
    </select>

    <!--    更新-->
    <update id="update" parameterType="com.codeshu.entity.Older">
        update older set name=#{name},age=#{age},phone=#{phone},healthId=#{health.id} where id=#{id}
    </update>
    <!--    删除-->
    <delete id="delete" parameterType="int">
        delete from older where id = #{id}
    </delete>
    <!--    插入-->
    <insert id="insert" parameterType="com.codeshu.entity.Older" keyProperty="id" useGeneratedKeys="true">
        insert into older(name,age,phone,guarderId,enterDate,healthId) values(#{name},#{age},#{phone},#{guarderId},#{enterDate},#{health.id})
    </insert>

</mapper>
