<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshu.mapper.StaffMapper">
    <!--根据名称查询-->
    <select id="selectByName" parameterType="string" resultType="com.codeshu.entity.Staff">
        select * from staff where username=#{username}
    </select>
    <!--查询所有-->
    <select id="selectAll" resultType="com.codeshu.entity.Staff">
        select * from staff
    </select>
    <!--模糊查询-->
    <select id="selectByLikeName" parameterType="string" resultType="com.codeshu.entity.Staff">
        select * from staff where username like concat('%',#{likeName},'%')
    </select>
    <!--保存-->
    <insert id="insert" parameterType="com.codeshu.entity.Staff" useGeneratedKeys="true" keyProperty="id">
        insert into staff(username,password,age,sex,phone,salt,roleId) values(#{username},#{password},#{age},#{sex},#{phone},#{salt},3)
    </insert>
    <!--查询总数-->
    <select id="total" resultType="int">
        select count(*) from staff
    </select>
    <!--删除-->
    <delete id="delete" parameterType="int">
        delete from staff where id = #{id}
    </delete>
    <!--更新-->
    <update id="update" parameterType="com.codeshu.entity.Staff">
        update staff set username=#{username},age=#{age},sex=#{sex},phone=#{phone} where id = #{id}
    </update>
    <!--更新个人信息，包括密码-->
    <update id="updateInfo" parameterType="com.codeshu.entity.Staff">
        update staff set username=#{username},password=#{password},salt=#{salt},age=#{age},sex=#{sex},phone=#{phone} where id = #{id}
    </update>
</mapper>
